-#  This file is app/views/projects/index.html.haml

%h4= link_to 'All Community Service Projects', projects_path(:clear => "true"), :id => 'index_header'

%table.table#projects
  %thead
    %tr
      %th{:class => @name_header}= link_to 'Name', projects_path(:sort => 'name'), :id => 'name_header'
      %th{:class => @cause_header}= link_to 'Cause', projects_path(:sort => 'cause'), :id => 'cause_header'
      %th{:class => @geography_header}= link_to 'Geography', projects_path(:sort => 'geography'), :id => 'geography_header'
      %th{:class => @volunteers_header}= link_to 'Volunteers', projects_path(:sort => 'volunteers'), :id => 'volunteers_header'
      %th{:class => @budget_header}= link_to 'Budget', projects_path(:sort => 'budget'), :id => 'budget_header'
      %th{:class => @difficulty_header}= link_to 'Difficulty', projects_path(:sort => 'difficulty'), :id => 'difficulty_header'
      %th View
      %th Edit

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name 
        %td= project.cause 
        %td= project.geography
        %td= @volunteers[project.volunteers.to_i]
        %td= @budgets[project.budget.to_i]
        %td= @difficulties[project.difficulty.to_i]
        %td
          %a{href: project_path(project), class: "glyphicon glyphicon-new-window", id: "#{project.name}_show_link_id" }
        %td
          %a{href: edit_project_path(project), class: "glyphicon glyphicon-edit", id: "#{project.name}_edit_link_id" }
