!!! 5
%html
  %head
    %title Community Service!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    
    
  %body
    %nav.navbar.navbar-default{role: "navigation"}
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %a.navbar-brand{href: projects_path} Binghamton Community Service
      .collapse.navbar-collapse.navbar-ex1-collapse
        %form.navbar-form.navbar-right{role: "search"}
          .form-group
            %input.form-control{placeholder: "Search", type: "text"}/
          %button.btn.btn-default{type: "submit"} Submit
        %ul.nav.navbar-nav.navbar-right
          %li
            // = link_to 'Add', new_project_path, :id => 'add_link_id'
            %a{href: new_project_path, class: "glyphicon glyphicon-plus", id: "add_link_id" }
      / /.navbar-collapse
    
    
    %main
      #main
        - if flash[:notice]
          #notice.message= flash[:notice]
        - elsif flash[:warning]
          #warning.message= flash[:warning]
          
        = yield
